.delivery-section{
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
.form-control{
    display: flex;
    align-items: baseline;
    margin-bottom: 2rem;
    gap: 10px;
}
h1{
    font-size: 2rem;
}
}