

//$main-font: futura-pt, sans-serif;

h1, h2, h3, a{
    font-weight: 500;
    //font: $main-font;
    font-family: futura-pt, sans-serif;
    font-style: normal;
}

h1 {
    padding-top: 6rem;
    font-size: 2.3rem;
    text-align: center;
}

p, ::placeholder, label, button {
    font-weight: 400;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: 20px;
}

.navigation {
    li {
        font-size: 1.8rem;
    }
    a {
        font-weight: 400;
    }
}

@media (min-width: 800px){
    h1{
        padding-top: 9rem;
        font-size: 4.5rem;
    }

    .left {
        padding-top: 12rem;
        font-size: 3.5rem;
        text-align: left;
    }
}



