// .background-image{
//     width: 100%;
//     position: relative;
//     z-index: -2;
// }
#first-section {
    button{
     position: absolute;
     left: 50%;
     bottom: 20px;
     transform: translate(-50%, -50%);
     margin: 0 auto;
    }
}

.swiper img {
    width: 100%;
}

.customerjourney {
    width: 100%;
}

#first-section {
    background-image: url(../../public/images/placeholder_background.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

    button {
        border: none;
        background-color: #C3B3AE;
        padding: 15px;
        font-size: 1.5rem;
    }

    @media (min-width: 800px) {
        button {
            left: auto;
            right: 0;
            bottom: 0;
            margin: 100px;
            padding: 15px;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}
