.mobilemenu {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }

  nav {
    position: absolute;
  }
  
  .burger {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }
  
  .burgermenu {
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }
  .logo{
      width: 100%;
  }
  
  @media (min-width: 800px) {
    
  .burgermenu {
    display: none;
  }

  nav {
    position: unset;
  }

  .navigation {

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 95%;
      height: 50px;
      align-items: center;
      padding-top: 40px;
    }
    a {
      text-decoration: none;
    }
  }
}