.navigation ul{
  display: none;
}

.logo-container{
    a{
      display: flex;
      justify-content: center;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;    }
}
  .mobile-logo{
      width: 30%;
  }
  
  @media (min-width: 800px) {
    .navigationlogo {
      text-align: center;
    }
    .logo{
      width: 60%;
    }
    .logo-container, .mobile-logo{
      display: none;
    }
    /* nav {
      position: absolute;
    } */
    
  #burger-menu-button {
    display: none;
  }

  nav {
    position: unset;
  }

  .navigation {

    ul {
      display: flex;
      justify-content: space-evenly;
      width: 95%;
      height: 50px;
      align-items: center;
      padding-top: 40px;
    }
    a {
      text-decoration: none;
    }
  }
}