.navigation ul{
  display: none;
}

.navigation {
  img {
  padding-top: 20px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: #C3B3AE;
  }
}

.logo-container{
    a{
      pointer-events: none;
      display: flex;
      justify-content: center;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      width: 100vw;    }
    img{
      pointer-events: all;
    }
}
  .mobile-logo{
      width: 30%;
  }
  
  @media (min-width: 800px) {
    .navigation {
      img {
      padding-top: 0px;
      width: 15%;
      }
    }
    /* .navigationlogo {
      text-align: center;
    }
    .logo{
      width: 60%;
    } */
    // .logo-container, .mobile-logo{
    //   display: none;
    // }
    /* nav {
      position: absolute;
    } */
    
  // #burger-menu-button {
  //   display: none;
  // }

 /*  nav {
    position: unset;
  } */

  // .navigation {

  //   ul {
  //     display: flex;
  //     justify-content: space-evenly;
  //     width: 95%;
  //     height: 50px;
  //     align-items: center;
  //     padding-top: 40px;
  // position: absolute;
  // list-style-type: none;
  //   }
  //   a {
  //     text-decoration: none;
  //   }
  // }
}
