.single-section{
width: 80vw;
margin-right: auto;
margin-left: auto;

h1{
    text-align: left;
    font-size: 1.2rem;
}
h2{
    font-size: 1rem;
}
img{
    width: 100%;
}
button{
    width: 80vw;
    height: 2rem;
    background-color: #c3b3ae;
    border: none;
    cursor: pointer;
}
}

@media (min-width: 800px) {
    .single-section{
        img{
            width: auto;
        }
        h1{
            font-size: 2.2rem;
        }
        h2{
            font-size: 1.5rem;
        }
        p{
            font-size: 20px;
            width: 54vw;
        }
        button{
            height: 3rem;
            width: 23rem;
            font-size: 20px;
            
        }
        .pick-up-text{
            margin-bottom: 3rem;
        }
    }
}