.upcycling-first-section{
    width: 80vw;
    margin-left: auto;
    margin-right: auto  ;
    p{
        font-size: 20px;
    }
    
    .upcycling_img{
        display: none;
    }
}

.sendjewellery-section {
    h2{
        text-align: center;
    }
}

.dropDown_btn_adress {
    display: none;
}


    .dropDown_label_address {
        display: flex;
        justify-content: center;
        width: auto;
        gap: 10px;
        p {
            text-align: center;
        }
    }

    .addresslist {
        gap: 25px;
        overflow: hidden;
        max-height: 0;
        transition: all .5s ease-in-out;
        padding: 0 24px;
        text-align: center;
    }

    .dropDown_btn_adress:checked ~ .addresslist {
        gap: 25px;
        max-height: 1500px;
    }

    .dropDown_label_address::after {
        content: "+";
    }

    .dropDown_btn_adress:checked ~ .dropDown_label_address:after { 
        content: "-"
    }


    @media (min-width: 800px) {
        .upcycling-content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 2rem;
        }
        .customerjourney_web{
            margin-top: 4rem;
        }
        .upcycling-first-section{
        .upcycling_img{
            display: block;
            width: 100%;
        }
    }

        .sendjewellery-section {
            h2{
                font-size: 2.8rem;
                margin-top: 3rem;
            }
        }

        .dropDown_btn_adress:checked ~ .addresslist {
            display: flex;
            justify-content: center; 
        }

        .addresslist {
            display: flex;
            justify-content: center;
        }
       
    }
